/*
  Student Name: Jarren Bess
  File Name: styles.css
  Date: June 17, 2025
 */

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3,
ul,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for all elements */
* {
  box-sizing: border-box;
}

/* Style rules for mobile viewport */

/* Style rules for body */
body {
  background-color: #2c2e37;
}

/* Style rules for header area */
header {
  background: linear-gradient(to bottom right, #e5696b, #df1919);
}

header h1 {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-size: clamp(3rem, 10vw, 6rem);
  text-align: center;
  padding: 2%;
}

header h3 {
  text-align: center;
}

/* Style rules for navigation area */
nav {
  background-color: #2c2e37;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Michroma", sans-serif;
  border-top: solid 0.5px #f1e9dd;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #f1e9dd;
  padding: 0.5em 2em;
}

nav li:first-child {
  border-top: none;
}

nav li a:active {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 61, 68);
  transform: scale(1.2);
}

/* Style rules for hero section */
#hero-img-section {
  position: relative;
}

#hero-img-section h3 {
  animation: bounce 2s ease-in alternate infinite;
  position: absolute;
  top: 73%;
  left: 50%;
  margin: auto;
  font-size: 4.7vw;
  text-wrap: nowrap;
  color: rgb(234, 226, 226);
  background-color: rgba(255, 24, 24, 0.55);
  padding: 1px 4px 3px 4px;
  border-radius: 10px;
  font-weight: bolder;
  font-family: "Michroma", sans-serif;
}

#hero-img-section img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

/* Style rules for main content */
main p:first-of-type {
  font-size: clamp(2rem, 5vw, 4rem);
  margin: 0;
  font-family: "Michroma", sans-serif;
  text-align: center;
  color: #f1e9dd;
}

main img {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  gap: 20px;
}

.profile-img {
  border-radius: 50px;
  width: 70vw;
  display: block;
  margin: auto;
}

.text-overview {
  color: #f1e9dd;
  padding: 25px 20px;
  text-align: justify;
  margin: auto;
}

.indoor-climb-img {
  display: block;
  width: 80vw;
  margin: auto;
  border-radius: 30px;
}

/* Style rules for footer content */
footer {
  padding: 2rem;
  margin-top: 40px;
  background-color: #24262d;
  text-align: center;
  color: white;
}

footer p:first-of-type {
  margin-bottom: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 767px) {
  /* Tablet Viewport: Style rules for nav area */
  nav li {
    display: inline-block;
    border-top: none;
  }

  /* Tablet Viewport: Style rules for main area */
  .grid{
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  /* Tablet Viewport: Style rules for main area */
  .profile-img {
    max-width: 30vw;
  }

  .indoor-climb-img {
    max-width: 30vw;
  }
}

/* Add to desktop for hover effect */
/* nav li a:hover {
  color: white;
  transform: scale(1.1);
} */

/* I Google searched "keyframes with transform messes up absolute position center" and the search AI overview explained
to keep the absolutely positioned element centered the transform offset of 50% needs to be included within the
keyframes declaration of the transform property
This was the code snippet example:
@keyframes rotateAndCenter {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  } */

/* Keyframes animation to bounce the #hero-img-section h3 element */
@keyframes bounce {
  from {
    transform: translate(-50%, -5px);
  }
  to {
    transform: translate(-50%);
  }
}
