/*
  Student Name: Jarren Bess
  File Name: styles.css
  Date: June 17, 2025
 */

/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3,
ul,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for all elements */
* {
  box-sizing: border-box;
}

/* Style rules for mobile viewport */

/* Style rules for body */
body {
  background-color: #2c2e37;
}

/* Style rules for header area */
header {
  background: linear-gradient(to bottom right, #4a4c55, #23262e);
}

header h1 {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-size: clamp(3rem, 10vw, 8rem);
  text-align: center;
  padding: 1%;
  color: #f1e9dd;
}

header h3 {
  text-align: center;
}

/* Style rules for navigation area */
nav {
  background-color: rgb(161, 24, 24);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Michroma", sans-serif;
  border-top: solid 0.5px #24262d;
}

nav li a {
  display: block;
  text-decoration: none;
  color: rgb(224, 221, 221);
  padding: 0.5rem 2rem;
}

nav li:first-child {
  border-top: none;
}

/* Style rules for hero section */
#hero-img-section {
  position: relative;
}

#hero-img-section h3 {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1rem, 4.7vw, 6rem);
  text-wrap: nowrap;
  color: rgb(234, 226, 226);
  background-color: rgba(255, 24, 24, 0.55);
  padding: 1px 4px 12px 4px;
  border-radius: 10px;
  font-weight: bolder;
  font-family: "Michroma", sans-serif;
}

#hero-img-section img {
  width: 100%;
  display: block;
  /* margin-bottom: 50px; */
}

/* Style rules for main content area*/
.row1 {
  background-color: #24262d;
  padding: 1px 0 10px 0;
}

.row2 {
  background-color: #2c2e37;
  padding: 30px;
}

.profile-img {
  display: block;
  width: 70vw;
  margin: 30px auto;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 2px rgba(255, 24, 24, 0.4);
}

.name-text {
  font-size: clamp(1.7rem, 7vw, 5rem);
  margin: 0;
  font-family: "Michroma", sans-serif;
  text-align: center;
  color: #f1e9dd;
}

.text-overview {
  color: #f1e9dd;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.2rem;
}

.indoor-climb-img {
  display: block;
  width: 75vw;
  margin: 40px auto 0 auto;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px rgba(255, 24, 24, 0.4);
}

/* Style rules for footer content */
footer {
  padding: 2rem;
  /* margin-top: 40px; */
  background-color: #24262d;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 768px) {
  /* Tablet Viewport: Style rules for nav area */
  nav li {
    display: inline-block;
    border-top: none;
  }

  /* Tablet Viewport: Style rules for main area */
  .grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
  }

  .profile-img {
    max-width: 30vw;
  }

  .name-text {
    align-self: center;
    font-size: 5vw;
  }

  .text-overview {
    align-self: center;
    padding-left: 4vw;
    font-size: 1.2rem;
  }

  .indoor-climb-img {
    max-width: 40vw;
    margin: auto;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px) {
  /* Desktop Viewport: Style rules for nav area */
  nav li a:hover {
    color: white;
    transform: scale(1.1);
  }

  nav li a:active {
    color: rgb(255, 255, 255);
    background-color: rgb(52, 54, 57);
    transform: scale(1.1);
  }
}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1921px) {
  /*  Large Desktop Viewport: Style rules for body */
  body {
    background: linear-gradient(#222327, #0d0e11);
  }

  /*  Large Desktop Viewport: Style rules for wrapper div */
  #wrapper {
    width: 1920px;
    margin: 0 auto;
    background-color: #23262e;
  }

  /*  Large Desktop Viewport: Style rules for nav area */
  nav li a {
    padding: 1rem 80px;
    font-size: 2rem;
  }
}
